@model EmisoraVozDelEste.Controllers.EditRoleViewModel

@{
    ViewBag.Title = "Editar Rol";
}

<h2 class="mb-4">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="mb-3">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label class="form-label">Permisos asignados</label>
        <div class="row">
            @for (int i = 0; i < Model.Permisos.Count; i++)
            {
                <div class="col-md-6 mb-2">
                    <div class="form-check">
                        @Html.HiddenFor(m => m.Permisos[i].PermissionID)
                        @Html.CheckBoxFor(m => m.Permisos[i].IsAssigned, new { @class = "form-check-input", id = "permiso_" + i })
                        <label class="form-check-label" for="permiso_@i">
                            @Model.Permisos[i].PermissionName
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mt-4">
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ms-2" })
    </div>
}