@model EmisoraVozDelEste.Models.Programas

@{
    ViewBag.Title = "Eliminar Programa";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-white" style="background-color: #0a1a2f;">
                    <h4 class="mb-0"><i class="fas fa-trash-alt me-2"></i> Eliminar Programa</h4>
                </div>
                <div class="card-body">
                    <h5 class="text-danger mb-4">¿Estás seguro que deseas eliminar este programa?</h5>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    }

                    <ul class="list-group mb-4">
                        <li class="list-group-item"><strong>Nombre:</strong> @Html.DisplayFor(model => model.Nombre)</li>
                        <li class="list-group-item"><strong>Imagen:</strong> @Html.DisplayFor(model => model.Imagen)</li>
                        <li class="list-group-item"><strong>Descripción:</strong> @Html.DisplayFor(model => model.Descripcion)</li>
                        <li class="list-group-item"><strong>Día:</strong> @Html.DisplayFor(model => model.Dia)</li>
                        <li class="list-group-item"><strong>Hora:</strong> @Html.DisplayFor(model => model.Hora)</li>
                    </ul>

                    @using (Html.BeginForm("DeleteConfirmed", "Programas", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="d-grid d-md-flex gap-2">
                            <input type="submit" value="Eliminar" class="btn text-white" style="background-color: #0a1a2f;" />
                            @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


