@model IEnumerable<EmisoraVozDelEste.Models.Programas>

@{
    ViewBag.Title = "Nuestros programas";
}

<h2 class="text-center my-4">Nuestros Programas</h2>


@*BOTÓN PARA CREAR PROGRAMA*@
<p>
        @Html.ActionLink("Create New", "Create")
    </p>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>

@if (!Model.Any())
{
    <div class="alert alert-info">No hay programas para mostrar.</div>
}
<div class="row">
    @foreach (var programa in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="@programa.Imagen" class="card-img-top" alt="@programa.Nombre" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@programa.Nombre</h5>
                    <p class="card-text">@programa.Descripcion</p>
                </div>
                <div class="card-footer text-muted">
                    <strong>Día:</strong> @programa.Dia <br />
                    <strong>Hora:</strong> @(programa.Hora.HasValue ? programa.Hora.Value.ToString(@"hh\:mm") : "")
                </div>
            </div>
        </div>
    }
</div>
