@model EmisoraVozDelEste.Models.Usuarios

@{
    ViewBag.Title = "Eliminar Usuario";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-white" style="background-color: #0a1a2f;">
                    <h4><i class="fas fa-user-times me-2"></i>Eliminar Usuario</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("DeleteConfirmed", "Usuarios", new { id = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                        <p>¿Está seguro que desea eliminar este usuario?</p>

                        <dl class="row">
                            <dt class="col-sm-4">Nombre</dt>
                            <dd class="col-sm-8">@Model.Nombre</dd>

                            <dt class="col-sm-4">Email</dt>
                            <dd class="col-sm-8">@Model.Email</dd>

                            <dt class="col-sm-4">Rol</dt>
                            <dd class="col-sm-8">
                                @(
                                    Model.Roles is IEnumerable<EmisoraVozDelEste.Models.Roles> coll
                                    ? string.Join(", ", coll.Select(r => r.Nombre))
                                    : Model.Roles?.Nombre
                                )
                            </dd>
                        </dl>

                        <div class="d-flex">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary ms-2" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
