<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <style>
        .glass {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        .glass-navbar {
            background-color: rgba(10, 26, 47, 0.7) !important;
            backdrop-filter: blur(8px);
        }

        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to bottom right, #081933, #b1c2d4); /*azul claro a celeste */
            background-size: cover; /* Hace que la imagen cubra todo el fondo */
            background-repeat: no-repeat; /* Evita que se repita */
            background-position: center center; /* Centra la imagen */
            background-attachment: fixed;
            color: #003366; /* azul oscuro para el texto */
        }

        header {
            background-color: #004080; /* azul intenso */
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 2em;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }

        main {
            padding: 40px;
            background-color: rgba(255, 255, 255, 0.8); /* fondo blanco semitransparente */
            margin: 40px 5%;
            max-width: 900px;
            border-radius: 12px;
            box-shadow: 0 8px 16px rgba(0, 0, 50, 0.1);
        }


        a {
            color: #0055aa;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        footer {
            background-color: #0a1a2f;
            color: #ffffff;
            text-align: center;
            padding: 15px;
            margin-top: 60px;
        }

        .layout-margen {
            margin: 0px;
        }

        .custom-navbar {
            background-color: #0a1a2f; /* Azul muy oscuro */
        }

        .custom-link {
            color: #ffffff !important;
            transition: color 0.3s, transform 0.3s;
        }

            .custom-link:hover {
                color: #1e90ff !important; /* Azul brillante */
                transform: scale(1.05);
            }

        .navbar-brand:hover {
            transform: scale(1.05);
            transition: transform 0.3s;
        }

        .custom-dropdown {
            background-color: #0a1a2f !important;
            min-width: 100% !important;
            border: none !important;
        }

            .custom-dropdown a {
                color: white !important;
                transition: background-color 0.3s;
            }

                .custom-dropdown a:hover {
                    background-color: #1e90ff !important;
                    color: white;
                }

        .tarjeta-hover {
            transition: all 0.3s ease;
        }

            .tarjeta-hover:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            }

        .tarjeta-img-top {
            transition: filter 0.3s ease;
        }

        .tarjeta-hover:hover .tarjeta-img-top {
            filter: brightness(85%);
        }

        .noticia-hover {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

            .noticia-hover:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            }

        .noticia-img-top {
            transition: filter 0.3s ease;
        }

        .noticia-hover:hover .noticia-img-top {
            filter: brightness(85%);
        }

        html, body {
            height: 100%;
        }

        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .layout-margen {
            flex: 1;
        }
    </style>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        var permisos = Session["Permisos"] as List<string> ?? new List<string>();
    }

</head>


<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-sm sticky-top custom-navbar shadow glass-navbar">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-broadcast-tower me-2 fs-4 text-light"></i>
                    <span class="text-light">Voz del Este</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link custom-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Programas", "Index", "Programas", null, new { @class = "nav-link custom-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Noticias", "NoticiasCliente", "Noticias", null, new { @class = "nav-link custom-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Clima", "ClimaOnlineVista", "Climas", null, new { @class = "nav-link custom-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cotizaciones", "CotizacionesOnline", "Cotizaciones", null, new { @class = "nav-link custom-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Acerca de", "About", "Home", null, new { @class = "nav-link custom-link" })
                        </li>

                        @if (Session["UsuarioNombre"] != null && permisos.Contains("VerDropDown"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user me-1"></i>
                                    Hola, @Session["UsuarioNombre"] (@Session["Rol"])
                                </a>
                                <ul class="dropdown-menu custom-dropdown">

                                    
                                    @if (permisos.Contains("VerGestionClientes"))
                                    {
                                        <li>@Html.ActionLink("Administrar clientes", "Index", "Clientes", null, new { @class = "dropdown-item" })</li>
                                    }

                                    
                                    @if (permisos.Contains("VerGestionProgramas"))
                                    {
                                        <li>@Html.ActionLink("Administrar programas", "Index", "Programas", null, new { @class = "dropdown-item" })</li>
                                    }

                                    
                                    @if (permisos.Contains("VerGestionNoticias"))
                                    {
                                        <li>@Html.ActionLink("Administrar noticias", "Index", "Noticias", null, new { @class = "dropdown-item" })</li>
                                    }

                                    
                                    @if (permisos.Contains("VerGestionRoles"))
                                    {
                                        <li>@Html.ActionLink("Panel de Control", "Index", "Roles", null, new { @class = "dropdown-item" })</li>
                                    }

                                    
                                    @if (permisos.Contains("VerGestionUsuarios"))
                                    {
                                        <li>@Html.ActionLink("Usuarios", "Index", "Usuarios", null, new { @class = "dropdown-item" })</li>
                                    }

                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Cerrar sesión", "Logout", "Login", null, new { @class = "nav-link text-danger" })
                            </li>
                        }
                        else if (Session["UsuarioNombre"] != null)
                        {
                            <li class="nav-item">
                                <span class="nav-link text-white">
                                    <i class="fas fa-user me-1"></i>
                                    Hola, @Session["UsuarioNombre"] (@Session["Rol"])
                                </span>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Cerrar sesión", "Logout", "Login", null, new { @class = "nav-link text-danger" })
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Iniciar sesión", "Login", "Login", null, new { @class = "nav-link custom-link" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <div class="layout-margen flex-grow-1">
            @RenderBody()
            <hr />
        </div>

        <footer class="bg-dark text-white text-center py-3 mt-auto">
            © @DateTime.Now.Year - Mi aplicación ASP.NET
        </footer>
    </div>
</body>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
